body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 40px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 3%;
}
.half-width img{
    width: 80%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(blue, rgb(102, 102, 211));
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-size: 700; 
}